---
import Repetircodigo from "../components/Repetircodigo.jsx";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const api = await fetch("https://api.institutoalfa.org/api/songs");
const { songs } = await api.json();
---

<Layout>
	<div class="lista">
		{
			songs.map((song) => (
				<Repetircodigo client:visible artista={song.author} titulo={song.title} sonido={song.audio.url} />
			))
		}
	</div>
</Layout>
<style>
	.lista 
	{ display: flex;
		gap: 16px;
		flex-wrap:wrap ;

	}
</style>